<!DOCTYPE html>
<html>
<head>
    <title>We've got Issues</title>
</head>
<body>
    <h1>We fucked up.</h1>
    <p>We recently sent out two League Lingo emails that contained innaccurate information.</p>
    <p>It looks like we need to re-write some of the scripts to drill down more specifically. The AI is hallucinating matchups when given a large input, which is what we are currently doing.</p>
    <p>We are rebuilding the scripts now and hope to create better content for you in Week 3. <b> Thanks for bearing with us though this.</b></p>
    <p><br>League Lingo</p>
</body>
</html>